In [1]:
import pandas as pd
import numpy as np

# Set seed for reproducibility
np.random.seed(42)

# Number of rows
n = 1000

# Generate synthetic loan dataset
data = {
    'Loan_ID': [f'LN{i:05d}' for i in range(n)],
    'Gender': np.random.choice(['Male', 'Female', np.nan], n, p=[0.45, 0.45, 0.10]),
    'Married': np.random.choice(['Yes', 'No', np.nan], n, p=[0.6, 0.35, 0.05]),
    'Dependents': np.random.choice(['0', '1', '2', '3+', np.nan], n),
    'Education': np.random.choice(['Graduate', 'Not Graduate'], n),
    'Self_Employed': np.random.choice(['Yes', 'No', np.nan], n, p=[0.1, 0.8, 0.1]),
    'ApplicantIncome': np.random.randint(1500, 25000, n),
    'CoapplicantIncome': np.round(np.random.uniform(0, 10000, n), 2),
    'LoanAmount': np.where(np.random.rand(n) < 0.1, np.nan, np.random.randint(50, 700, n)),
    'Loan_Amount_Term': np.random.choice([360.0, 180.0, 120.0, np.nan], n, p=[0.8, 0.1, 0.05, 0.05]),
    'Credit_History': np.random.choice([1.0, 0.0, np.nan], n, p=[0.85, 0.10, 0.05]),
    'Property_Area': np.random.choice(['Urban', 'Rural', 'Semiurban'], n),
    'Loan_Status': np.random.choice(['Y', 'N'], n, p=[0.7, 0.3])  # This is the output/target
}

# Create DataFrame
df = pd.DataFrame(data)

# Output: Show first 10 rows
print(df.head(10))

   Loan_ID  Gender Married Dependents     Education Self_Employed  \
0  LN00000    Male     Yes         3+  Not Graduate            No
1  LN00001     nan     Yes          2  Not Graduate            No
2  LN00002  Female      No         3+      Graduate           Yes
3  LN00003  Female      No          1  Not Graduate            No
4  LN00004    Male      No          1  Not Graduate            No
5  LN00005    Male      No          0      Graduate           Yes
6  LN00006    Male      No        nan  Not Graduate            No
7  LN00007  Female      No         3+  Not Graduate            No
8  LN00008  Female     Yes          0  Not Graduate            No
9  LN00009  Female     Yes        nan  Not Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0            14244            4846.90       381.0             360.0
1             5886             268.68         NaN             360.0
2            18803            3804.82         NaN             360.0
3            13742            1061.26       653.0             360.0
4            20223            5313.57       559.0             360.0
5            15757            3957.78       655.0             360.0
6            10447            6131.52       512.0             360.0
7            15446            8056.02       248.0             360.0
8             7430            2996.69       320.0             360.0
9             6902            9621.02       607.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0     Semiurban           Y
1             1.0         Rural           Y
2             1.0         Rural           Y
3             1.0         Rural           N
4             1.0     Semiurban           Y
5             1.0     Semiurban           Y
6             1.0         Urban           Y
7             1.0         Urban           Y
8             1.0     Semiurban           Y
9             1.0         Urban           Y